{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <style>
        #map {
            height: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
      </style>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js" ></script>
      <script type="text/javascript" src="{% static 'locations.js' %}?V=1" ></script>

  </head>
  <body>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0cyeuVlbpLfHKiphnATUcSqOZTw6zL0&callback=initMap">
    </script>
  </body>
</html>